\#*
*.o
*.lo
*.la
*~
.*.swp
*/.deps/
*/.libs/
cscope.out
src/iptraf-ng
src/rawtime-ng
src/rvnamed-ng
support/libtextbox.a
Makefile
Makefile.in
m4/
missing
configure
configure.scan
autom4te.cache/
config.guess
config.log
config.h
config.h.in
config.rpath
config.status
config.sub
aclocal.m4
autoscan.log
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
